<%- include('includes/head.ejs') %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg p-3 mb-5 rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="fas fa-lg">EX6</i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if (typeof user !== 'undefined') { %>
                    <a class="nav-link" data-bs-toggle="modal" data-bs-target="#profile">
                        <i class="fas fa-lg fa-thin fa-user-astronaut" id="username"><%= user.username ?? '' %></i>
                    </a>

                <% } else { %>
                    <a class="nav-link" href="/register"><i class="fas fa-lg">Signup</i></a>
                    <a class="nav-link" href="/"><i class="fas fa-lg">Login</i></a>
                <% } %>

                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modal">
                    <i class="fas fa-lg fa-solid fa-envelope fa-bounce"> Contact Us</i>
                </a>

                <a class="nav-link" data-bs-toggle="modal" data-bs-target="#about">
                    <i class="fas fa-lg">About</i>
                </a>
                <% if (typeof user !== 'undefined') { %>
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-lg">logout</i>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</nav>
<!--Contact us modal-->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="fas fa-lg">
                    Ola Ibrahim | Abigail Untershatz<br>
                    <br><a href="mailto:olaib@edu.hac.ac.il">olaib@edu.hac.ac.il</a><br>
                    <br><a href="mailto:abigailun@edu.hac.ac.il">abigailun@edu.hac.ac.il</a>
                </i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<% if (typeof user !== 'undefined') { %>
    <!--PROFILE MODAL-->
    <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-lg fa-thin fa-user-astronaut">
                            Astronaut
                            Profile Info</i></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <i class="fas fa-lg">User name: <%= user.username %><br><br></i><br><br>
                    Email <i class="fas fa-lg fa-solid fa-at"></i>: <a
                            href="mailto: <%= user.email %>"> <%= user.email %></a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
<% } %>

<!--ABOUT MODAL-->
<div class="modal modal-dialog-scrollable fade" id="about" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">About</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>with this app, you can browse a NASA APOD (astronomy picture of the day)
                    service and image viewer from space.
                    <br>to get started, follow the steps:
                </p>

                <ol>
                    <li>First select a date from the calendar, so you
                        can see photos or videos from the selected day till today
                    </li>
                    <li>Click the search button and the photos/videos will be shown</li>
                    <li>You can click the 'description' button to see the description of the selected photos
                    </li>
                    <li>You can click the 'comments' button to see others comments of this photo</li>
                    <li>Simply enter your comment in the text field then click the "pos" button to share it</li>
                    <li>Your comment will be added to the comments section, and you can simply delete it</li>
                    <li>You can click on the image to see it on full screen if it is a
                        video you can click on 'full screen' button
                    </li>
                </ol>

                <p>Thank you for using our app 🤭</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>